*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

h1{
    font-size: 30px;
    text-align: center;
    color: blanchedalmond;
    margin: 5px;
}

.galeria{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  grid-template-columns: repeat(auto-fill,minmax(300px,300px));
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap ;


}

img{
    width:300px ;
    height: 300px;
   
    object-position: center;
    
}





  